.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
#play-button {
  width: 40px;
}

.button-container {
  display: flex;
  flex-direction: column;
}

button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100px;
}
/* 
#btn0 {
  display: flex;
  order: 0;
}

#btn1 {
  display: flex;
  order: 1;
}

#btn2 {
  display: flex;
  order: 2;
}

#btn3 {
  display: flex;
  order: 3;
} */
