/* #FAF1E6  light sand
   #fdfaf6  egg white
  #e4efe7   light green
  #064420  dark green
  #334443   deep dark
  #a0937d   sandy brown
  #e3cdc1   salmon

  */

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  /* overflow: auto; */
}

.metal {
  background-image: url(./images/metal.jpeg);
  /* height: 100vh;
  width: 100vw; */
  /* margin: 0; */
}

a {
  text-decoration: none;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  height: 70px;
  width: 100vw;
  background-image: url(./images/wood-pat.jpeg);
  box-shadow: -5px -5px 3px rgba(0, 0, 0, 0.4) inset;
  font-family: "Squealer";
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 300px;
  height: 75px;
}

.scores-link {
  color: rgb(10, 9, 11) !important;
  background-color: rgba(156, 154, 154, 0.4);
  text-decoration: none;
  font-family: "Squealer-fill";
  font-size: 30px;
}

.scores-link:visited {
  color: rgb(9, 8, 9);
  text-decoration: none;
}

.app-title {
  font-size: 40px;
  height: fit-content;
  margin: 5px;
}
.screw {
  width: 30px;
  transform: rotate(20deg);
}
.left {
  transform: rotate(45deg);
}
.main-container {
  display: flex;
  flex: 1 0 auto;
  /* border: 10px solid burlywood; */
}

/* power button */
input[type="checkbox"] {
  height: 100px;
  width: 100px;
  -webkit-appearance: none;
  /* box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
  10px 10px 15px rgba(70, 70, 70, 0.12); */
  box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.5),
    2px 2px 4px rgba(70, 70, 70, 0.12);
  /* position: relative; */
  /* transform: translate(50%, 50%); */
  top: 50%;
  /* left: 50%; */
  border-radius: 50%;
  border: 8px solid #ececec;
  background-color: #ececec;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

input[type="checkbox"]::after {
  font-family: FontAwesome;
  content: "\f01d";
  color: #000000;
  font-size: 65px;
}

input[type="checkbox"]:checked {
  box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.5),
    4px 4px 6px rgba(87, 237, 134, 0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}

input[type="checkbox"]:checked::after {
  color: #15e38a;
}

.gameplay-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  background: rgba(151, 148, 151, 0.75);
  height: 500px;
  width: 300px;
  border-radius: 5px;
  /* border-radius: 10px;
  border-style: groove;
  box-shadow: 1px 1px 2px rgb(9, 8, 9); */
}

.display-screen-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 256px;
  height: 200px;
  margin-top: 20px;
  border-radius: 10px;
  border-style: groove;
  box-shadow: 1px 1px 2px rgb(9, 8, 9);
  background: rgb(9, 8, 9);
}
.score-xxx-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 250px;
}

#score,
#xxx,
.result-message {
  font-size: 20px;
  color: rgb(29, 244, 75);
  text-shadow: 1px 1px 2px rgb(101, 186, 120);
}

.result-message {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 325px; */
}

.play-button {
  margin-top: 20px;
  width: 100px;
}

.button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  /* justify-content: space-around; */
  height: 300px;
  width: 300px;
}

.choice-btn {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-around; */
  align-items: center;
  height: 80px;
  width: 120px;
  margin: 10px;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
  border-radius: 3px;
  font-family: "Indie-rock";
  font-size: 27px;
}

.scores-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 117px;
  background: rgb(9, 8, 9);
  height: 385px;
  width: 256px;
  overflow: auto;
  border-radius: 10px;
  border-style: groove;
  box-shadow: 1px 1px 2px rgb(9, 8, 9);
  /* width: 300px; */
}

.score-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  color: rgb(29, 244, 75);
  text-shadow: 1px 1px 2px rgb(101, 186, 120);
  /* width: 100px; */
}
.scores-field {
  width: 200px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: radial-gradient(#e9e1e1, #9198e5);
  margin: 50% auto;
  padding: 10px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 50%;
  font-family: "Indie-rock";
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* text-align: center; */
  /* position: sticky; */
  flex-shrink: 0;
  /* bottom: 0; */
  height: 70px;
  width: 100%;
  /* background-color: #a0937d; */
  background-image: url(./images/wood-pat.jpeg);
  box-shadow: -5px -5px 3px rgba(0, 0, 0, 0.4) inset;
  /* overflow: auto; */
}

/* 
.fas {
  color: seashell;
}

.fa-play-circle {
  font-size: 50px;
  color: rgb(101, 220, 127);
  text-shadow: 1px 1px 2px rgb(101, 186, 120);
}
.fa-pause-circle {
  display: block;
  font-size: 50px;
  color: rgb(101, 220, 127);
  text-shadow: 1px 1px 2px rgb(101, 186, 120);
}
.far {
  width: 50px;
}
.far:hover {
  color: rgb(29, 244, 75);
} */
