/* #FAF1E6  light sand
   #fdfaf6  egg white
  #e4efe7   light green
  #064420  dark green
  #334443   deep dark
  #a0937d   sandy brown
  #e3cdc1   salmon

  */

/* This animates the circle when it switches to play */
/* #circle {
  transition: stroke-dashoffset 300ms ease-in;
  stroke-dashoffset: 0;
  fill: none;
}
#circle.play {
  stroke-dashoffset: 314;
} */
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  /* background-color: #334443; */

  height: 100vh;
  width: 100vw;
}
.metal {
  background-image: url(./images/metal.jpeg);
  visibility: visible;
}

.carbon {
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(
      #1d1d1d 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      transparent 50%,
      transparent 75%,
      #242424 75%,
      #242424
    );
  background-color: #131313;
  background-size: 20px 20px;
  background-clip: content-box;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  height: 70px;
  width: 100vw;
  /* background-color: #a0937d; */
  background-image: url(./images/wood-pat.jpeg);
  box-shadow: -5px -5px 3px rgba(0, 0, 0, 0.4) inset;
  /* background: conic-gradient(
    from 45deg,
    #000104 0,
    #000004 90deg,
    #000337 90deg,
    #000337 180deg,
    #0f0f10 180deg,
    #151518 270deg,
    #2e3032 270deg,
    #4d5255 360deg
  );
  background-size: 0.5em 0.5em; */

  font-family: "Squealer";
}
/* .inner-header {
  display: flex;
  background-color: rgba(156, 154, 154, 1);
  height: 30px;
  width: 90vw;
} */
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.app-title {
  font-size: 40px;
  height: fit-content;
  margin: 5px;
}

.main-container {
  display: flex;

  /* border: 10px solid burlywood; */
}

.scores-link {
  color: rgb(10, 9, 11) !important;
  background-color: rgba(156, 154, 154, 0.4);
  text-decoration: none;
}

.scores-link:visited {
  color: rgb(9, 8, 9);
  text-decoration: none;
}
.gameplay-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(9, 8, 9);
  height: 385px;
  width: 256px;
  border-radius: 10px;
  border-style: groove;
  box-shadow: 1px 1px 2px rgb(9, 8, 9);
}

#score,
.result-message {
  color: rgb(29, 244, 75);
  text-shadow: 1px 1px 2px rgb(101, 186, 120);
}

.button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  height: 250px;
  width: 250px;
}

.button-list {
  /* display: flex; */
  justify-content: space-between;
}

#play-button {
  width: 60px;
}

.fas {
  color: seashell;
}

.fa-play-circle {
  display: block;
  font-size: 50px;
  color: rgb(101, 220, 127);
  text-shadow: 1px 1px 2px rgb(101, 186, 120);
}
.fa-pause-circle {
  display: block;
  font-size: 50px;
  color: rgb(101, 220, 127);
  text-shadow: 1px 1px 2px rgb(101, 186, 120);
}
.far {
  width: 50px;
}
.far:hover {
  color: rgb(29, 244, 75);
}

.choice-btn {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-around; */
  align-items: center;
  height: 45px;
  width: 100px;
  margin: 10px;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.result-message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 325px;
}

.scores-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: rgb(9, 8, 9);
  height: 385px;
  width: 256px;
  border-radius: 10px;
  border-style: groove;
  box-shadow: 1px 1px 2px rgb(9, 8, 9);
  /* width: 300px; */
}

.score-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  color: rgb(29, 244, 75);
  text-shadow: 1px 1px 2px rgb(101, 186, 120);
  /* width: 100px; */
}
.scores-field {
  width: 200px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fefefe;
  margin: 20% auto;
  padding: 10px;
  border: 1px solid #888;
  width: 50%;
}

/* 
#btn0 {
  display: flex;
  order: 0;
}

#btn1 {
  display: flex;
  order: 1;
}

#btn2 {
  display: flex;
  order: 2;
}

#btn3 {
  display: flex;
  order: 3;
} */
