/* #FAF1E6  light sand
   #fdfaf6  egg white
  #e4efe7   light green
  #064420  dark green
  #334443   deep dark
  #a0937d   sandy brown
  #e3cdc1   salmon

  */

/* This animates the circle when it switches to play */
/* #circle {
  transition: stroke-dashoffset 300ms ease-in;
  stroke-dashoffset: 0;
  fill: none;
}
#circle.play {
  stroke-dashoffset: 314;
} */
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: #334443;
  height: 100vh;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: #a0937d;
  /* background: conic-gradient(
    from 45deg,
    #000104 0,
    #000004 90deg,
    #000337 90deg,
    #000337 180deg,
    #0f0f10 180deg,
    #151518 270deg,
    #2e3032 270deg,
    #4d5255 360deg
  );
  background-size: 0.5em 0.5em; */
  /* height: 100vh; */

  font-family: "Squealer";
}

.app-title {
  font-size: 60px;
}

.scores-link {
  color: rgb(10, 9, 11) !important;
  background-color: rgba(156, 154, 154, 0.4);
  text-decoration: none;
}

.scores-link:visited {
  color: rgb(9, 8, 9);
  text-decoration: none;
}
.gameplay-container {
  display: flex;
  flex-direction: column;
}

#play-button {
  width: 60px;
}

.button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  height: 250px;
  width: 250px;
}

.button-list {
  /* display: flex; */
  justify-content: space-between;
}

.choice-btn {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-around; */
  align-items: center;
  height: 45px;
  width: 100px;
  margin: 10px;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.scores-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
}

.score-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  height: 30px;
  /* width: 100px; */
}
.scores-field {
  width: 200px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fefefe;
  margin: 20% auto;
  padding: 10px;
  border: 1px solid #888;
  width: 50%;
}

/* 
#btn0 {
  display: flex;
  order: 0;
}

#btn1 {
  display: flex;
  order: 1;
}

#btn2 {
  display: flex;
  order: 2;
}

#btn3 {
  display: flex;
  order: 3;
} */
